<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-application-user-heading"
        data-cy="ApplicationUserCreateUpdateHeading"
        jhiTranslate="palItApp.applicationUser.home.createOrEditLabel"
      >
        Create or edit a Application User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="palItApp.applicationUser.applicationUserName" for="field_applicationUserName"
            >Application User Name</label
          >
          <input
            type="text"
            class="form-control"
            name="applicationUserName"
            id="field_applicationUserName"
            data-cy="applicationUserName"
            formControlName="applicationUserName"
          />
          <div
            *ngIf="
              editForm.get('applicationUserName')!.invalid &&
              (editForm.get('applicationUserName')!.dirty || editForm.get('applicationUserName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('applicationUserName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="palItApp.applicationUser.internalUser" for="field_internalUser">Internal User</label>
          <select
            class="form-control"
            id="field_internalUser"
            data-cy="internalUser"
            name="internalUser"
            formControlName="internalUser"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="palItApp.applicationUser.ownedPaint" for="field_ownedPaints">Owned Paint</label>
          <select
            class="form-control"
            id="field_ownedPaints"
            data-cy="ownedPaint"
            multiple
            name="ownedPaints"
            formControlName="ownedPaints"
            [compareWith]="comparePaint"
          >
            <option [ngValue]="paintOption" *ngFor="let paintOption of paintsSharedCollection">{{ paintOption.paintName }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
