<div>
  <h2 id="page-heading" data-cy="PaintHeading">
    <span jhiTranslate="palItApp.paint.home.title">Paints</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="palItApp.paint.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paint"
        [routerLink]="['/paint/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="palItApp.paint.home.createLabel"> Create a new Paint </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paints?.length === 0">
    <span jhiTranslate="palItApp.paint.home.notFound">No Paints found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="paints && paints.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="brand">
          <div class="d-flex">
            <span jhiTranslate="palItApp.paint.brand">Brand</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="paintName">
          <div class="d-flex">
            <span jhiTranslate="palItApp.paint.paintName">Paint Name</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let paint of paints; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/paint', paint.id, 'view']">{{ paint.id }}</a>
        </td>
        <td>{{ paint.brand }}</td>
        <td>{{ paint.paintName }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/paint', paint.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button type="submit" [routerLink]="['/paint', paint.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit" (click)="delete(paint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

