<style>
  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }
  mat-card-title{
    font-weight: bold;
  }
</style>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Ivory</mat-card-title>
      <mat-card-subtitle>ProAcryl</mat-card-subtitle>
      <img mat-card-lg-image src="https://monumenthobbies.com/cdn/shop/products/MPA-033-MetallicMedium_1024x1024@2x.png?v=1669486788" >
    </mat-card-title-group>
  </mat-card-header>
<!--  <mat-card-content>-->
<!--    {{applicationUser?.id}}-->
<!--  </mat-card-content>-->
  <mat-card-actions>
    <button mat-button id="add-button">Add</button>
    <button mat-button id="remove-button">Remove</button>
  </mat-card-actions>
</mat-card>
