<style>
  mat-card-title {
    font-weight: bold;
  }
  mat-card{
    border-style: solid;
    border-width: thin;
    border-color: whitesmoke;
    font-size: 100%;
    height: 100%;
    width: 100%;
  }
  mat-action-list{
    padding-left: 50%;
  }
  #available-paints-cards, #owned-paints-cards{
    width: 100%;
    /*height: 50%;*/
    max-height: 50%;
    margin-bottom: 1%;
    /*overflow: auto;*/
  }
  #save-back-buttons{
    padding-top: 1%;
    margin-left: 75%;
  }
</style>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update Inventory</title>
</head>
<h2>Available Paints</h2>
  <div class ="alert alert-warning" id="no-available-paints" *ngIf="availablePaints?.length === 0">
    <span>No available paints to add to inventory</span>
  </div>
<div class="container.fluid" id="available-paints-cards" *ngIf="availablePaints && availablePaints.length > 0">
  <div class="row">
    <div *ngFor="let availPaint of availablePaints" class="col-xxl-2">
      <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{availPaint.brand}}</mat-card-title>
              <mat-card-subtitle>{{availPaint.paintName}}</mat-card-subtitle>
              <img *ngIf="!(availPaint.picture)"
                   mat-card-md-image src="https://monumenthobbies.com/cdn/shop/products/MPA-033-MetallicMedium_1024x1024@2x.png?v=1669486788"
                   alt="miniature image">
              <img *ngIf="availPaint.picture"
                   mat-card-md-image
                   [src]="'data:' + availPaint.pictureContentType + ';base64,' + availPaint.picture"
                   style="max-width: 100%"
                   alt="miniature image" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="add(availPaint)">Add</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>


<h2>Currently Owned Paints</h2>
<div class="alert alert-warning" id="no-result" *ngIf="ownedPaints?.length === 0">
  <span>No Paint found for user</span>
</div>
<div class="container.fluid" id="owned-paints-cards" *ngIf="ownedPaints && ownedPaints.length > 0">
  <div class="row">
      <div *ngFor="let paint of ownedPaints" class="col-xxl-2">
        <mat-card class="example-card" >
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{paint.brand}}</mat-card-title>
              <mat-card-subtitle>{{paint.paintName}}</mat-card-subtitle>
              <img *ngIf="!(paint.picture)"
                   mat-card-md-image src="https://monumenthobbies.com/cdn/shop/products/MPA-033-MetallicMedium_1024x1024@2x.png?v=1669486788"
                   alt="miniature image">
              <img *ngIf="paint.picture"
                   mat-card-md-image
                   [src]="'data:' + paint.pictureContentType + ';base64,' + paint.picture"
                   style="max-width: 100%"
                   alt="miniature image" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="remove(paint)">Remove</button>
          </mat-card-actions>
        </mat-card>
      </div>
    <div>
</div>
<div id="save-back-buttons">
  <button mat-button color="primary" (click)="onSave()" id="save-button">Save</button>
  <button mat-button color="warn" (click)="previousState()" id="back-button">Back</button>
</div>


<!--<div class="container.fluid" *ngIf="ownedPaints && ownedPaints.length > 0">-->
<!--    <div class="row">-->
<!--      <div *ngFor="let paint of ownedPaints" class="col-xxl-2">-->
<!--        <mat-card class="example-card" >-->
<!--          <mat-card-header>-->
<!--            <mat-card-title-group>-->
<!--              <mat-card-title>{{paint.brand}}</mat-card-title>-->
<!--              <mat-card-subtitle>{{paint.paintName}}</mat-card-subtitle>-->
<!--              <img *ngIf="!(paint.picture)"-->
<!--                   mat-card-md-image src="https://monumenthobbies.com/cdn/shop/products/MPA-033-MetallicMedium_1024x1024@2x.png?v=1669486788"-->
<!--                   alt="miniature image">-->
<!--              <img *ngIf="paint.picture"-->
<!--                   mat-card-md-image-->
<!--                   [src]="'data:' + paint.pictureContentType + ';base64,' + paint.picture"-->
<!--                   style="max-width: 100%"-->
<!--                   alt="miniature image" >-->
<!--            </mat-card-title-group>-->
<!--          </mat-card-header>-->
<!--          <mat-card-actions>-->
<!--            <button mat-button (click)="remove(paint)">Remove</button>-->
<!--          </mat-card-actions>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--<div id="save-back-buttons-test">-->
<!--  <button mat-button color="primary" (click)="onSave()" id="save-button-test">Save</button>-->
<!--  <button mat-button color="warn" (click)="previousState()" id="back-button-test">Back</button>-->
<!--</div>-->

