<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="miniature">
      <h2 data-cy="miniatureDetailsHeading"><span jhiTranslate="palItApp.miniature.detail.title">Miniature</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ miniature.id }}</span>
        </dd>
        <dt><span jhiTranslate="palItApp.miniature.miniatureName">Miniature Name</span></dt>
        <dd>
          <span>{{ miniature.miniatureName }}</span>
        </dd>
        <dt><span jhiTranslate="palItApp.miniature.picture">Picture</span></dt>
        <dd>
          <div *ngIf="miniature.picture">
            <a (click)="openFile(miniature.picture, miniature.pictureContentType)">
              <img
                [src]="'data:' + miniature.pictureContentType + ';base64,' + miniature.picture"
                style="max-width: 100%"
                alt="miniature image"
              />
            </a>
            {{ miniature.pictureContentType }}, {{ byteSize(miniature.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="palItApp.miniature.miniatureFormula">Miniature Formula</span></dt>
        <dd>
          <span *ngFor="let miniatureFormula of miniature.miniatureFormulas; let last = last">
            <a [routerLink]="['/paint', miniatureFormula.id, 'view']">{{ miniatureFormula.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="palItApp.miniature.applicationUser">Application User</span></dt>
        <dd>
          <div *ngIf="miniature.applicationUser">
            <a [routerLink]="['/application-user', miniature.applicationUser.id, 'view']">{{ miniature.applicationUser.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/miniature', miniature.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
