
<header class="text-center" style="height: 40%; background-color: black">
  <ngb-carousel
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
  >
    <!--  *ngIf="images"-->
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img style="height: 40rem" src="../../../content/images/mini-images/goblin.jpg" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img style="height: 40rem"  src="../../../content/images/mini-images/undead.jpg" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img style="height: 40rem"  src="../../../content/images/mini-images/wizard.jpg" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
  </ngb-carousel>
</header>
<div class="row">

  <div class="col-md-9">
    <h1 class="display-4"><span >Welcome, to Pal IT!</span></h1>
<!--    <a href="../resources/public/paintdetails.html">Testing</a>-->

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account"
          >Pal-it is an application that allows you to track your current inventory of miniature paints, as well as build custom “formulas” of paints that you like to use together. With this inventory, you will then be able to track pictures of completed models, with the paints you used to paint them. You can track your favorite formulas and which paints you have even if they’re at the back of the paint rack.
          <br><br>
          Paint a cool model a few months back? Don’t remember which paints you used to make that really slick transition? Worry not, Pal-it will be able to track all of that for you! </span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
        >

      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>

  </div>
</div>
