<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="applicationUser">
      <h2 data-cy="applicationUserDetailsHeading"><span jhiTranslate="palItApp.applicationUser.detail.title">Application User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ applicationUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="palItApp.applicationUser.applicationUserName">Application User Name</span></dt>
        <dd>
          <span>{{ applicationUser.applicationUserName }}</span>
        </dd>
        <dt><span jhiTranslate="palItApp.applicationUser.internalUser">Internal User</span></dt>
        <dd>
          <span>{{ applicationUser.internalUser?.login }}</span>
        </dd>
        <dt><span jhiTranslate="palItApp.applicationUser.ownedPaint">Owned Paint</span></dt>
        <dd>
          <span *ngFor="let ownedPaint of applicationUser.ownedPaints; let last = last">
            <a [routerLink]="['/paint', ownedPaint.id, 'view']">{{ ownedPaint.paintName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/application-user', applicationUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
