<div class="text-end">
  <h1 class="display-4 text-center m-lg-3">Miniatures</h1>
  <button class="btn btn-outline-secondary" routerLink="/inventory-miniature/new">New Miniature</button>

  <hr>

</div>
<button [routerLink]="['/inventory-miniature', 2 , 'edit']">test button</button>
<div class="row">
  <div class="col-md-2" *ngFor="let mini of minis">
    <div class="card text-center mb-2 rounded-2" style="width: 14rem; height: 22rem;">
      <div class="card-body">
        <h5 class="card-title">{{mini.miniatureName}}</h5>
      </div>
      <img
        class="rounded-2"
        [src]="'data:' + mini.pictureContentType + ';base64,' + mini.picture"
        alt="{{mini.miniatureName}} image"
      >
    </div>
  </div>
</div>
