<div>
  <h2 id="page-heading" data-cy="MiniatureHeading">
    <span jhiTranslate="palItApp.miniature.home.title">Miniatures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="palItApp.miniature.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-miniature"
        [routerLink]="['/miniature/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="palItApp.miniature.home.createLabel"> Create a new Miniature </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="miniatures?.length === 0">
    <span jhiTranslate="palItApp.miniature.home.notFound">No Miniatures found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="miniatures && miniatures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="miniatureName">
            <div class="d-flex">
              <span jhiTranslate="palItApp.miniature.miniatureName">Miniature Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="picture">
            <div class="d-flex">
              <span jhiTranslate="palItApp.miniature.picture">Picture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="miniatureFormula.paintName">
            <div class="d-flex">
              <span jhiTranslate="palItApp.miniature.miniatureFormula">Miniature Formula</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.applicationUserName">
            <div class="d-flex">
              <span jhiTranslate="palItApp.miniature.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let miniature of miniatures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/miniature', miniature.id, 'view']">{{ miniature.id }}</a>
          </td>
          <td>{{ miniature.miniatureName }}</td>
          <td>
            <a *ngIf="miniature.picture" (click)="openFile(miniature.picture, miniature.pictureContentType)">
              <img
                [src]="'data:' + miniature.pictureContentType + ';base64,' + miniature.picture"
                style="max-height: 30px"
                alt="miniature image"
              />
            </a>
            <span *ngIf="miniature.picture">{{ miniature.pictureContentType }}, {{ byteSize(miniature.picture) }}</span>
          </td>
          <td>
            <span *ngFor="let miniatureFormula of miniature.miniatureFormulas; let last = last">
              <a class="form-control-static" [routerLink]="['/paint', miniatureFormula.id, 'view']">{{ miniatureFormula.paintName }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="miniature.user">
              <a [routerLink]="['/application-user', miniature.user.id, 'view']">{{ miniature.user.applicationUserName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/miniature', miniature.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/miniature', miniature.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(miniature)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
