<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" [formGroup]="editForm" novalidate (ngSubmit)="save()" >
      <h2 id="jhi-formula-heading" data-cy="FormulaCreateUpdateHeading" jhiTranslate="palItApp.formula.home.createOrEditLabel">
        Create or edit a Formula
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>


        <div class="row mb-3 input-group">
          <label class="input-group-text" for="field_formulaName">Formula Name</label>
          <input
            type="text"
            class="form-control"
            name="formulaName"
            id="field_formulaName"
            data-cy="formulaName"
            formControlName="formulaName"
          />
        </div>
        <div *ngIf="applicationUsersSharedCollection?.ownedPaints">
          <div class="row mb-3 input-group">
          <input type="text" class="form-control justify-content-end mb-2" style="max-width: 15rem; margin-left: 85%" id="search-text" aria-describedby="search-text"
                  formControlName="searchText" placeholder="Enter text to search" name="searchText"
                 autofocus>
          <label class="input-group-text">Paints</label>
          <div class="row mb-3"  style="max-height: 10rem; overflow-x: auto; background: white">
            <div *ngFor="let paintOption of paintsSharedCollection | appFilter: this.editForm.getRawValue().searchText" class="form-control">
              <input type="checkbox"
                     class="form-check-input"
                     (click)="onChange(paintOption.id)"
                     [defaultChecked]="valueContained(paintOption.id)"
              /> {{paintOption.brand}}: {{paintOption.paintName}}
            </div>

          </div>
        </div>
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
